<div class="<%= location  %>"> <!--location nos permite tener un css dinámico, esta variable se define en cada vista layout, y en el css especifico de cada una-->
  <%= nav_helper 'nav-link', 'div' %>  
</div>