<h1 class="mb-5 text-center">Sobre mí</h1>
<p class="text-center">
	Mi nombre es Laura Isabel Blanco Calvo y soy de Salamanca, nacida y residente aquí.
	<br> 
	<br>
	Soy programadora y desarrolladora web, especializada en Ruby on Rails, lenguaje en el que tengo prácticamente toda mi expericia profesional en el sector de la tecnología, ya que previamente estudié Animación Sociocultural y el Grado en Educación Social en la Universidad de Salamanca.
	<br>
	La programación nunca fue mi vocación inicial, pero debido a mis circunstancias personales, en un momento de mi vida decidí dar un vuelco y cambiar de profesión. 
	<br>
	<br>
	¡He de decir que fue todo un acierto! Ya que finalmente terminó encantandome este trabajo.
	<br>
	<br>
	Soy una persona a la que le encanta superarse cada día y aprender cosas nuevas, una apasionada del trabajo en equipo (supongo que esto tiene que ver con mi pasión por la educación) y exigente con el trabajo que realizo. Estoy convencida de que para que las cosas salgan bien tiene que haber ganas, entusiasmo y buen ambiente.
	<br>
	<br>
	Mi máxima es que con gnas todo se consigue, porque los conocimiento se adquieren, antes o después, pero la actitud se tiene o no se tiene.
</p>

<p class="lead text-center">
  <a href=<%= contact_path %> class="cta">
	  <span>Contacto</span>
	  <svg width="13px" height="10px" viewBox="0 0 13 10">
	    <path d="M1,5 L11,5"></path>
	    <polyline points="8 1 12 5 8 9"></polyline>
	  </svg>
	</a>
</p>