<h1>¿Quieres ponerte en contacto conmigo? / Do you want to contact me?</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<h4>Localidad / Location</h4>
		<p>Salamanca, España</p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.427195567871!2d-5.650760284324701!3d40.972125579304475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3f26062e935aed%3A0x44080310e9ddb6b1!2sSalamanca!5e0!3m2!1ses!2ses!4v1606306858792!5m2!1ses!2ses" width="350" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		<hr>
		<h4>Teléfono / Phone</h4>
		<p><%= number_to_phone'649390442', pattern: /(\d{3})(\d{3})(\d{3})$/%></p>
		<hr>
		<h4>Correo electrónico / Email</h4>
		<p><a href="mailto:laublaca@gmail.com" "Enviar correo">laublaca@gmail.com</p>
	</div>

	<div class="col-md-6">
	</div>
</div>

<!--<p><%#= number_to_phone '666555666' %></p>
<p><%#= number_to_currency "15000" %></p>
<p><%#= number_to_percentage "80.4" %></p>
<p><%#= number_with_delimiter  "1234567894561365789" %></p>-->
