<main role="main" class="inner cover text-center">
	<h1 class="cover-heading">Bienvenido</h1>
	<p class="lead">Software developer Portfolio</p>
	<p class="lead">
	  <!--<a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a>-->
	  <%= link_to "Sobre mí", about_me_path, class: "btn btn-lg btn-secondary" %>
	</p>
</main>



